@model IEnumerable<AgenciaViaje.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Destinos" asp-controller="Home">Destinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Promocoes" asp-controller="Home">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Create" asp-controller="Contatos">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" asp-action="Adm" asp-controller="Home">Administração</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<h1>Clientes Cadastrados:</h1>

<div class="d-grid gap-2">
    <a asp-action="Create"><button class="btn btn-primary" type="button">Novo Cadastro</button></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  
   
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino.Cidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente"><button class="btn btn-primary" type="button">Editar</button></a> 
                <a asp-action="Details" asp-route-id="@item.IdCliente"><button class="btn btn-primary" type="button">Detalhes</button></a> 
                <a asp-action="Delete" asp-route-id="@item.IdCliente"><button class="btn btn-danger" type="button">Excluir</button></a>
            </td>
        </tr>

 

}
    </tbody>
</table>

  <footer>
    <p class="rodape bg-primary">Contato: 0800 0000</p>
    <p class="rodape bg-primary">2022 Agência Viaje! - Todos os direitos reservados.</p>
  </footer> 
</body>